<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ZErf 0.1</title>
    <link href="templates/zerf/style.css" rel="stylesheet">
  </head>
  <body>
    {% if records %}
    <table width="50%">
      <tr>
        <td><strong>Start</strong></td>
        <td><strong>Stop</strong></td>
        <td><strong>Dauer</strong></td>
      </tr>
    {% for record in records %}
      <tr>
        <td>{{ record.start_time }}</td>
        <td>{{ record.stop_time }}</td>
        <td>{{ record.interval }}</td>
      </tr>
    {% endfor %}
    </table>
    <p><strong>Summe: {{ summe }}</strong></p>
    {% endif %}
  </body>
</html>
